@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdeddc;
}

.color-overlay {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0003;
  background-color: #FBD4AB;
  padding: 50px;
}

.App-logo {
  width: 300px;
  height: auto;
  margin-bottom: 16px;
}

.form-container {
  
  text-align: center;
  margin-bottom: 16px;
}

.form-input {
  margin-top: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  grid-gap: 11px;
  margin-bottom: 5px;
}

.form-group label {
  margin-bottom: 0;
}

.form-inline {
  display: flex;
}

.message {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #FBD4AB;
  padding: 8px 16px;
  border-radius: 5px;
  color: #000;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
}


.lexend {
  font-family: 'Lexend', sans-serif;
  margin-bottom: 4px;
}

